<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933732335023-3lqnc7ltrk1uu5s5754fl9t8ai5k6sg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933732335023-3lqnc7ltrk1uu5s5754fl9t8ai5k6sg6</string>
	<key>API_KEY</key>
	<string>AIzaSyD1QaIIl7PAeSoJDnE9c36GSEVNGB32tsY</string>
	<key>GCM_SENDER_ID</key>
	<string>933732335023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buildlayout</string>
	<key>PROJECT_ID</key>
	<string>dulces-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dulces-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933732335023:ios:5552e5fb0fdfb226f0835a</string>
</dict>
</plist>